In [2]:
import pandas as pa 
import pylab as pl

In [3]:
T = pa.read_csv('stations_service.csv')

In [29]:
T1 = T.query('nom == "Intermarché"')

In [25]:
T1

Empty DataFrame
Columns: [dept, nom, Gazole, SP98, SP95_E10, SP95, lat, lon]
Index: []

In [17]:
T.describe()

,Gazole,SP98,SP95_E10,SP95,lat,lon
count,9690.000000,7914.000000,6510.000000,4829.000000,9716.000000,9716.000000
mean,1.453131,1.612239,1.523681,1.564576,46.703576,2.674594
std,0.081653,0.076966,0.077274,0.069923,2.268706,2.855407
min,0.489000,1.300000,1.359000,1.420000,41.390553,-4.722906
25%,1.396000,1.558000,1.465000,1.509000,44.743623,0.654857
50%,1.429000,1.599000,1.504000,1.555000,47.018563,2.572286
75%,1.499000,1.658000,1.569000,1.601000,48.699135,4.907078
max,4.438000,1.990000,1.949000,2.142000,51.063898,9.546689

In [ ]:
#objectif rechercher dans la base de donnée comment demander unre requete ou une chaine de caractere est inclus dans